<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>$archiver</key>
	<string>NSKeyedArchiver</string>
	<key>$objects</key>
	<array>
		<string>$null</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>55</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>9</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>17</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>19</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>21</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>23</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>25</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>27</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>29</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>31</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>33</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>35</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>37</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>39</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>41</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>43</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>45</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>47</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>49</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>51</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>53</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>0</integer>
			<key>imageYIdx</key>
			<integer>0</integer>
			<key>leadership</key>
			<integer>33</integer>
			<key>location_column</key>
			<integer>12</integer>
			<key>location_row</key>
			<integer>10</integer>
			<key>mode</key>
			<integer>4</integer>
			<key>morale</key>
			<integer>15</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>3</integer>
			</dict>
			<key>originalStrength</key>
			<integer>1200</integer>
			<key>side</key>
			<integer>0</integer>
			<key>strength</key>
			<integer>1200</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Bartow</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>BAUnit</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>BAUnit</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>1</integer>
			<key>imageYIdx</key>
			<integer>0</integer>
			<key>leadership</key>
			<integer>37</integer>
			<key>location_column</key>
			<integer>11</integer>
			<key>location_row</key>
			<integer>10</integer>
			<key>mode</key>
			<integer>4</integer>
			<key>morale</key>
			<integer>15</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>originalStrength</key>
			<integer>1800</integer>
			<key>side</key>
			<integer>0</integer>
			<key>strength</key>
			<integer>1800</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Bee</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>2</integer>
			<key>imageYIdx</key>
			<integer>0</integer>
			<key>leadership</key>
			<integer>23</integer>
			<key>location_column</key>
			<integer>11</integer>
			<key>location_row</key>
			<integer>8</integer>
			<key>mode</key>
			<integer>4</integer>
			<key>morale</key>
			<integer>10</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>8</integer>
			</dict>
			<key>originalStrength</key>
			<integer>3300</integer>
			<key>side</key>
			<integer>0</integer>
			<key>strength</key>
			<integer>3300</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Bonham</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>3</integer>
			<key>imageYIdx</key>
			<integer>0</integer>
			<key>leadership</key>
			<integer>16</integer>
			<key>location_column</key>
			<integer>7</integer>
			<key>location_row</key>
			<integer>6</integer>
			<key>mode</key>
			<integer>4</integer>
			<key>morale</key>
			<integer>10</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>10</integer>
			</dict>
			<key>originalStrength</key>
			<integer>2700</integer>
			<key>side</key>
			<integer>0</integer>
			<key>strength</key>
			<integer>2700</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Cocke</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>4</integer>
			<key>imageYIdx</key>
			<integer>0</integer>
			<key>leadership</key>
			<integer>45</integer>
			<key>location_column</key>
			<integer>12</integer>
			<key>location_row</key>
			<integer>9</integer>
			<key>mode</key>
			<integer>4</integer>
			<key>morale</key>
			<integer>20</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>12</integer>
			</dict>
			<key>originalStrength</key>
			<integer>1800</integer>
			<key>side</key>
			<integer>0</integer>
			<key>strength</key>
			<integer>1800</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Early</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>5</integer>
			<key>imageYIdx</key>
			<integer>0</integer>
			<key>leadership</key>
			<integer>49</integer>
			<key>location_column</key>
			<integer>6</integer>
			<key>location_row</key>
			<integer>4</integer>
			<key>mode</key>
			<integer>4</integer>
			<key>morale</key>
			<integer>20</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>14</integer>
			</dict>
			<key>originalStrength</key>
			<integer>1500</integer>
			<key>side</key>
			<integer>0</integer>
			<key>strength</key>
			<integer>1500</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Evans</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>6</integer>
			<key>imageYIdx</key>
			<integer>0</integer>
			<key>leadership</key>
			<integer>20</integer>
			<key>location_column</key>
			<integer>14</integer>
			<key>location_row</key>
			<integer>11</integer>
			<key>mode</key>
			<integer>4</integer>
			<key>morale</key>
			<integer>10</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>16</integer>
			</dict>
			<key>originalStrength</key>
			<integer>2500</integer>
			<key>side</key>
			<integer>0</integer>
			<key>strength</key>
			<integer>2500</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Ewell</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>7</integer>
			<key>imageYIdx</key>
			<integer>0</integer>
			<key>leadership</key>
			<integer>12</integer>
			<key>location_column</key>
			<integer>13</integer>
			<key>location_row</key>
			<integer>11</integer>
			<key>mode</key>
			<integer>4</integer>
			<key>morale</key>
			<integer>10</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
			<key>originalStrength</key>
			<integer>1200</integer>
			<key>side</key>
			<integer>0</integer>
			<key>strength</key>
			<integer>1200</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Holmes</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>8</integer>
			<key>imageYIdx</key>
			<integer>0</integer>
			<key>leadership</key>
			<integer>59</integer>
			<key>location_column</key>
			<integer>11</integer>
			<key>location_row</key>
			<integer>9</integer>
			<key>mode</key>
			<integer>4</integer>
			<key>morale</key>
			<integer>20</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>20</integer>
			</dict>
			<key>originalStrength</key>
			<integer>3000</integer>
			<key>side</key>
			<integer>0</integer>
			<key>strength</key>
			<integer>3000</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Jackson</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>9</integer>
			<key>imageYIdx</key>
			<integer>0</integer>
			<key>leadership</key>
			<integer>26</integer>
			<key>location_column</key>
			<integer>13</integer>
			<key>location_row</key>
			<integer>9</integer>
			<key>mode</key>
			<integer>4</integer>
			<key>morale</key>
			<integer>10</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>22</integer>
			</dict>
			<key>originalStrength</key>
			<integer>2100</integer>
			<key>side</key>
			<integer>0</integer>
			<key>strength</key>
			<integer>2100</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Jones</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>10</integer>
			<key>imageYIdx</key>
			<integer>0</integer>
			<key>leadership</key>
			<integer>39</integer>
			<key>location_column</key>
			<integer>10</integer>
			<key>location_row</key>
			<integer>7</integer>
			<key>mode</key>
			<integer>4</integer>
			<key>morale</key>
			<integer>10</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>24</integer>
			</dict>
			<key>originalStrength</key>
			<integer>1400</integer>
			<key>side</key>
			<integer>0</integer>
			<key>strength</key>
			<integer>1400</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Kershaw</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>11</integer>
			<key>imageYIdx</key>
			<integer>0</integer>
			<key>leadership</key>
			<integer>60</integer>
			<key>location_column</key>
			<integer>12</integer>
			<key>location_row</key>
			<integer>8</integer>
			<key>mode</key>
			<integer>4</integer>
			<key>morale</key>
			<integer>15</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>26</integer>
			</dict>
			<key>originalStrength</key>
			<integer>3000</integer>
			<key>side</key>
			<integer>0</integer>
			<key>strength</key>
			<integer>3000</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Longstreet</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>12</integer>
			<key>imageYIdx</key>
			<integer>0</integer>
			<key>leadership</key>
			<integer>40</integer>
			<key>location_column</key>
			<integer>9</integer>
			<key>location_row</key>
			<integer>12</integer>
			<key>mode</key>
			<integer>4</integer>
			<key>morale</key>
			<integer>10</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>28</integer>
			</dict>
			<key>originalStrength</key>
			<integer>3000</integer>
			<key>side</key>
			<integer>0</integer>
			<key>strength</key>
			<integer>3000</integer>
			<key>turn</key>
			<integer>5</integer>
		</dict>
		<string>Smith</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>0</integer>
			<key>imageYIdx</key>
			<integer>1</integer>
			<key>leadership</key>
			<integer>14</integer>
			<key>location_column</key>
			<integer>14</integer>
			<key>location_row</key>
			<integer>3</integer>
			<key>mode</key>
			<integer>3</integer>
			<key>morale</key>
			<integer>10</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>30</integer>
			</dict>
			<key>originalStrength</key>
			<integer>2700</integer>
			<key>side</key>
			<integer>1</integer>
			<key>strength</key>
			<integer>2700</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Blenker</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>1</integer>
			<key>imageYIdx</key>
			<integer>1</integer>
			<key>leadership</key>
			<integer>17</integer>
			<key>location_column</key>
			<integer>7</integer>
			<key>location_row</key>
			<integer>1</integer>
			<key>mode</key>
			<integer>3</integer>
			<key>morale</key>
			<integer>10</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>32</integer>
			</dict>
			<key>originalStrength</key>
			<integer>3000</integer>
			<key>side</key>
			<integer>1</integer>
			<key>strength</key>
			<integer>3000</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Burnside</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>2</integer>
			<key>imageYIdx</key>
			<integer>1</integer>
			<key>leadership</key>
			<integer>30</integer>
			<key>location_column</key>
			<integer>12</integer>
			<key>location_row</key>
			<integer>3</integer>
			<key>mode</key>
			<integer>3</integer>
			<key>morale</key>
			<integer>10</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>34</integer>
			</dict>
			<key>originalStrength</key>
			<integer>2400</integer>
			<key>side</key>
			<integer>1</integer>
			<key>strength</key>
			<integer>2400</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Davies</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>3</integer>
			<key>imageYIdx</key>
			<integer>1</integer>
			<key>leadership</key>
			<integer>36</integer>
			<key>location_column</key>
			<integer>9</integer>
			<key>location_row</key>
			<integer>1</integer>
			<key>mode</key>
			<integer>3</integer>
			<key>morale</key>
			<integer>10</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>36</integer>
			</dict>
			<key>originalStrength</key>
			<integer>2400</integer>
			<key>side</key>
			<integer>1</integer>
			<key>strength</key>
			<integer>2400</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Franklin</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>4</integer>
			<key>imageYIdx</key>
			<integer>1</integer>
			<key>leadership</key>
			<integer>35</integer>
			<key>location_column</key>
			<integer>11</integer>
			<key>location_row</key>
			<integer>2</integer>
			<key>mode</key>
			<integer>3</integer>
			<key>morale</key>
			<integer>10</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>38</integer>
			</dict>
			<key>originalStrength</key>
			<integer>2700</integer>
			<key>side</key>
			<integer>1</integer>
			<key>strength</key>
			<integer>2700</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Howard</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>5</integer>
			<key>imageYIdx</key>
			<integer>1</integer>
			<key>leadership</key>
			<integer>29</integer>
			<key>location_column</key>
			<integer>9</integer>
			<key>location_row</key>
			<integer>3</integer>
			<key>mode</key>
			<integer>3</integer>
			<key>morale</key>
			<integer>10</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>40</integer>
			</dict>
			<key>originalStrength</key>
			<integer>2700</integer>
			<key>side</key>
			<integer>1</integer>
			<key>strength</key>
			<integer>2700</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Keyes</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>6</integer>
			<key>imageYIdx</key>
			<integer>1</integer>
			<key>leadership</key>
			<integer>10</integer>
			<key>location_column</key>
			<integer>13</integer>
			<key>location_row</key>
			<integer>3</integer>
			<key>mode</key>
			<integer>3</integer>
			<key>morale</key>
			<integer>10</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>42</integer>
			</dict>
			<key>originalStrength</key>
			<integer>2500</integer>
			<key>side</key>
			<integer>1</integer>
			<key>strength</key>
			<integer>2500</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Militia</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>7</integer>
			<key>imageYIdx</key>
			<integer>1</integer>
			<key>leadership</key>
			<integer>47</integer>
			<key>location_column</key>
			<integer>8</integer>
			<key>location_row</key>
			<integer>1</integer>
			<key>mode</key>
			<integer>3</integer>
			<key>morale</key>
			<integer>15</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>44</integer>
			</dict>
			<key>originalStrength</key>
			<integer>3000</integer>
			<key>side</key>
			<integer>1</integer>
			<key>strength</key>
			<integer>3000</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Porter</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>8</integer>
			<key>imageYIdx</key>
			<integer>1</integer>
			<key>leadership</key>
			<integer>38</integer>
			<key>location_column</key>
			<integer>13</integer>
			<key>location_row</key>
			<integer>6</integer>
			<key>mode</key>
			<integer>3</integer>
			<key>morale</key>
			<integer>15</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>46</integer>
			</dict>
			<key>originalStrength</key>
			<integer>3000</integer>
			<key>side</key>
			<integer>1</integer>
			<key>strength</key>
			<integer>3000</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Richardson</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>9</integer>
			<key>imageYIdx</key>
			<integer>1</integer>
			<key>leadership</key>
			<integer>13</integer>
			<key>location_column</key>
			<integer>7</integer>
			<key>location_row</key>
			<integer>4</integer>
			<key>mode</key>
			<integer>3</integer>
			<key>morale</key>
			<integer>10</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>48</integer>
			</dict>
			<key>originalStrength</key>
			<integer>2100</integer>
			<key>side</key>
			<integer>1</integer>
			<key>strength</key>
			<integer>2100</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Schenck</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>10</integer>
			<key>imageYIdx</key>
			<integer>1</integer>
			<key>leadership</key>
			<integer>50</integer>
			<key>location_column</key>
			<integer>8</integer>
			<key>location_row</key>
			<integer>3</integer>
			<key>mode</key>
			<integer>3</integer>
			<key>morale</key>
			<integer>20</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>50</integer>
			</dict>
			<key>originalStrength</key>
			<integer>3000</integer>
			<key>side</key>
			<integer>1</integer>
			<key>strength</key>
			<integer>3000</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Sherman</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>11</integer>
			<key>imageYIdx</key>
			<integer>1</integer>
			<key>leadership</key>
			<integer>19</integer>
			<key>location_column</key>
			<integer>13</integer>
			<key>location_row</key>
			<integer>4</integer>
			<key>mode</key>
			<integer>3</integer>
			<key>morale</key>
			<integer>10</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>52</integer>
			</dict>
			<key>originalStrength</key>
			<integer>2500</integer>
			<key>side</key>
			<integer>1</integer>
			<key>strength</key>
			<integer>2500</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Volunteers</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>imageXIdx</key>
			<integer>12</integer>
			<key>imageYIdx</key>
			<integer>1</integer>
			<key>leadership</key>
			<integer>43</integer>
			<key>location_column</key>
			<integer>10</integer>
			<key>location_row</key>
			<integer>1</integer>
			<key>mode</key>
			<integer>3</integer>
			<key>morale</key>
			<integer>10</integer>
			<key>mps</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>54</integer>
			</dict>
			<key>originalStrength</key>
			<integer>2100</integer>
			<key>side</key>
			<integer>1</integer>
			<key>strength</key>
			<integer>2100</integer>
			<key>turn</key>
			<integer>0</integer>
		</dict>
		<string>Willcox</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMutableArray</string>
				<string>NSArray</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMutableArray</string>
		</dict>
	</array>
	<key>$top</key>
	<dict>
		<key>root</key>
		<dict>
			<key>CF$UID</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>$version</key>
	<integer>100000</integer>
</dict>
</plist>
