<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>leadership</key>
		<integer>33</integer>
		<key>location_col</key>
		<integer>12</integer>
		<key>location_row</key>
		<integer>10</integer>
		<key>morale</key>
		<integer>15</integer>
		<key>name</key>
		<string>Bartow</string>
		<key>original_strength</key>
		<integer>1200</integer>
		<key>side</key>
		<integer>0</integer>
		<key>strength</key>
		<integer>1200</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>37</integer>
		<key>location_col</key>
		<integer>11</integer>
		<key>location_row</key>
		<integer>10</integer>
		<key>morale</key>
		<integer>15</integer>
		<key>name</key>
		<string>Bee</string>
		<key>original_strength</key>
		<integer>1800</integer>
		<key>side</key>
		<integer>0</integer>
		<key>strength</key>
		<integer>1800</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>23</integer>
		<key>location_col</key>
		<integer>11</integer>
		<key>location_row</key>
		<integer>8</integer>
		<key>morale</key>
		<integer>10</integer>
		<key>name</key>
		<string>Bonham</string>
		<key>original_strength</key>
		<integer>3300</integer>
		<key>side</key>
		<integer>0</integer>
		<key>strength</key>
		<integer>3300</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>16</integer>
		<key>location_col</key>
		<integer>7</integer>
		<key>location_row</key>
		<integer>6</integer>
		<key>morale</key>
		<integer>10</integer>
		<key>name</key>
		<string>Cocke</string>
		<key>original_strength</key>
		<integer>2700</integer>
		<key>side</key>
		<integer>0</integer>
		<key>strength</key>
		<integer>2700</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>45</integer>
		<key>location_col</key>
		<integer>12</integer>
		<key>location_row</key>
		<integer>9</integer>
		<key>morale</key>
		<integer>20</integer>
		<key>name</key>
		<string>Early</string>
		<key>original_strength</key>
		<integer>1800</integer>
		<key>side</key>
		<integer>0</integer>
		<key>strength</key>
		<integer>1800</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>49</integer>
		<key>location_col</key>
		<integer>6</integer>
		<key>location_row</key>
		<integer>4</integer>
		<key>morale</key>
		<integer>20</integer>
		<key>name</key>
		<string>Evans</string>
		<key>original_strength</key>
		<integer>1500</integer>
		<key>side</key>
		<integer>0</integer>
		<key>strength</key>
		<integer>1500</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>20</integer>
		<key>location_col</key>
		<integer>14</integer>
		<key>location_row</key>
		<integer>11</integer>
		<key>morale</key>
		<integer>10</integer>
		<key>name</key>
		<string>Ewell</string>
		<key>original_strength</key>
		<integer>2500</integer>
		<key>side</key>
		<integer>0</integer>
		<key>strength</key>
		<integer>2500</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>12</integer>
		<key>location_col</key>
		<integer>13</integer>
		<key>location_row</key>
		<integer>11</integer>
		<key>morale</key>
		<integer>10</integer>
		<key>name</key>
		<string>Holmes</string>
		<key>original_strength</key>
		<integer>1200</integer>
		<key>side</key>
		<integer>0</integer>
		<key>strength</key>
		<integer>1200</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>59</integer>
		<key>location_col</key>
		<integer>11</integer>
		<key>location_row</key>
		<integer>9</integer>
		<key>morale</key>
		<integer>20</integer>
		<key>name</key>
		<string>Jackson</string>
		<key>original_strength</key>
		<integer>3000</integer>
		<key>side</key>
		<integer>0</integer>
		<key>strength</key>
		<integer>3000</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>26</integer>
		<key>location_col</key>
		<integer>13</integer>
		<key>location_row</key>
		<integer>9</integer>
		<key>morale</key>
		<integer>10</integer>
		<key>name</key>
		<string>Jones</string>
		<key>original_strength</key>
		<integer>2100</integer>
		<key>side</key>
		<integer>0</integer>
		<key>strength</key>
		<integer>2100</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>39</integer>
		<key>location_col</key>
		<integer>10</integer>
		<key>location_row</key>
		<integer>7</integer>
		<key>morale</key>
		<integer>10</integer>
		<key>name</key>
		<string>Kershaw</string>
		<key>original_strength</key>
		<integer>1400</integer>
		<key>side</key>
		<integer>0</integer>
		<key>strength</key>
		<integer>1400</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>60</integer>
		<key>location_col</key>
		<integer>12</integer>
		<key>location_row</key>
		<integer>8</integer>
		<key>morale</key>
		<integer>15</integer>
		<key>name</key>
		<string>Longstreet</string>
		<key>original_strength</key>
		<integer>3000</integer>
		<key>side</key>
		<integer>0</integer>
		<key>strength</key>
		<integer>3000</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>40</integer>
		<key>location_col</key>
		<integer>-1</integer>
		<key>location_row</key>
		<integer>12</integer>
		<key>morale</key>
		<integer>10</integer>
		<key>name</key>
		<string>Smith</string>
		<key>original_strength</key>
		<integer>3000</integer>
		<key>side</key>
		<integer>0</integer>
		<key>strength</key>
		<integer>3000</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>14</integer>
		<key>location_col</key>
		<integer>14</integer>
		<key>location_row</key>
		<integer>3</integer>
		<key>morale</key>
		<integer>10</integer>
		<key>name</key>
		<string>Blenker</string>
		<key>original_strength</key>
		<integer>2700</integer>
		<key>side</key>
		<integer>1</integer>
		<key>strength</key>
		<integer>2700</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>17</integer>
		<key>location_col</key>
		<integer>7</integer>
		<key>location_row</key>
		<integer>1</integer>
		<key>morale</key>
		<integer>10</integer>
		<key>name</key>
		<string>Burnside</string>
		<key>original_strength</key>
		<integer>3000</integer>
		<key>side</key>
		<integer>1</integer>
		<key>strength</key>
		<integer>3000</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>30</integer>
		<key>location_col</key>
		<integer>12</integer>
		<key>location_row</key>
		<integer>3</integer>
		<key>morale</key>
		<integer>10</integer>
		<key>name</key>
		<string>Davies</string>
		<key>original_strength</key>
		<integer>2400</integer>
		<key>side</key>
		<integer>1</integer>
		<key>strength</key>
		<integer>2400</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>36</integer>
		<key>location_col</key>
		<integer>9</integer>
		<key>location_row</key>
		<integer>1</integer>
		<key>morale</key>
		<integer>10</integer>
		<key>name</key>
		<string>Franklin</string>
		<key>original_strength</key>
		<integer>2400</integer>
		<key>side</key>
		<integer>1</integer>
		<key>strength</key>
		<integer>2400</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>35</integer>
		<key>location_col</key>
		<integer>11</integer>
		<key>location_row</key>
		<integer>2</integer>
		<key>morale</key>
		<integer>10</integer>
		<key>name</key>
		<string>Howard</string>
		<key>original_strength</key>
		<integer>2700</integer>
		<key>side</key>
		<integer>1</integer>
		<key>strength</key>
		<integer>2700</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>29</integer>
		<key>location_col</key>
		<integer>9</integer>
		<key>location_row</key>
		<integer>3</integer>
		<key>morale</key>
		<integer>10</integer>
		<key>name</key>
		<string>Keyes</string>
		<key>original_strength</key>
		<integer>2700</integer>
		<key>side</key>
		<integer>1</integer>
		<key>strength</key>
		<integer>2700</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>10</integer>
		<key>location_col</key>
		<integer>13</integer>
		<key>location_row</key>
		<integer>3</integer>
		<key>morale</key>
		<integer>10</integer>
		<key>name</key>
		<string>Militia</string>
		<key>original_strength</key>
		<integer>2500</integer>
		<key>side</key>
		<integer>1</integer>
		<key>strength</key>
		<integer>2500</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>47</integer>
		<key>location_col</key>
		<integer>8</integer>
		<key>location_row</key>
		<integer>1</integer>
		<key>morale</key>
		<integer>15</integer>
		<key>name</key>
		<string>Porter</string>
		<key>original_strength</key>
		<integer>3000</integer>
		<key>side</key>
		<integer>1</integer>
		<key>strength</key>
		<integer>3000</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>38</integer>
		<key>location_col</key>
		<integer>13</integer>
		<key>location_row</key>
		<integer>6</integer>
		<key>morale</key>
		<integer>15</integer>
		<key>name</key>
		<string>Richardson</string>
		<key>original_strength</key>
		<integer>3000</integer>
		<key>side</key>
		<integer>1</integer>
		<key>strength</key>
		<integer>3000</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>13</integer>
		<key>location_col</key>
		<integer>7</integer>
		<key>location_row</key>
		<integer>4</integer>
		<key>morale</key>
		<integer>10</integer>
		<key>name</key>
		<string>Schenck</string>
		<key>original_strength</key>
		<integer>2100</integer>
		<key>side</key>
		<integer>1</integer>
		<key>strength</key>
		<integer>2100</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>50</integer>
		<key>location_col</key>
		<integer>8</integer>
		<key>location_row</key>
		<integer>3</integer>
		<key>morale</key>
		<integer>20</integer>
		<key>name</key>
		<string>Sherman</string>
		<key>original_strength</key>
		<integer>3000</integer>
		<key>side</key>
		<integer>1</integer>
		<key>strength</key>
		<integer>3000</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>19</integer>
		<key>location_col</key>
		<integer>13</integer>
		<key>location_row</key>
		<integer>4</integer>
		<key>morale</key>
		<integer>10</integer>
		<key>name</key>
		<string>Volunteers</string>
		<key>original_strength</key>
		<integer>2500</integer>
		<key>side</key>
		<integer>1</integer>
		<key>strength</key>
		<integer>2500</integer>
	</dict>
	<dict>
		<key>leadership</key>
		<integer>43</integer>
		<key>location_col</key>
		<integer>10</integer>
		<key>location_row</key>
		<integer>1</integer>
		<key>morale</key>
		<integer>10</integer>
		<key>name</key>
		<string>Willcox</string>
		<key>original_strength</key>
		<integer>2100</integer>
		<key>side</key>
		<integer>1</integer>
		<key>strength</key>
		<integer>2100</integer>
	</dict>
</array>
</plist>
